/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

 /* Import Sass mixins, variables, Compass modules, etc. */
 @import "init";

 /* HTML element (SMACSS base) rules */
 @import "normalize";

 /* Component (SMACSS module) rules */
 @import "components/misc";
// Optionally, add your own components here.
@import "print";

/* SMACSS theme rules */
/* @import "theme-A"; */
/* @import "theme-B"; */

$primary-color: #000B17;
$accent-color: #1ED2F9;
$third-color: white;
$third-color-alter: #323A44;
$effective-width: 1200px;

a:link, a:visited {
	text-decoration: none;
	color: $accent-color;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
-webkit-appearance: button;
	cursor: pointer;
	background-color: $accent-color;
	border-radius: 3px;
	color: $third-color;
	padding: 8px 30px;
	border: none;
	&:hover {
		background-color: $third-color-alter;
	}
}

input[type="text"], input[type="password"] {
	padding: 5px 10px;
	background-color: $third-color-alter;
	border: 1px solid $third-color;
	border-radius: 3px;
}

table {
	width: 100%;
	tbody {
		background-color: $third-color-alter;
	}
	td {
		color: $primary-color;
		padding: 5px 10px;
	}
}

select {
	padding: 5px 10px;
	border-radius: 3px;
	background-color: transparent;
	option {
		background-color: $primary-color;
	}
}

.joyride-tip-guide {
	background-color: $third-color-alter;
	box-shadow: 0 2px 5px rgba(255, 255, 255, 0.26);
}

.form-required {
 color: $third-color;
 &::after {
 	color: red;
 }
}

body {
	color: $third-color;
	font-size: 14px;
	background-color: $primary-color;
}

header {
	background-color: $third-color;
	box-shadow: 0 2px 5px rgba(255, 255, 255, 0.26);
	.section {
		max-width: $effective-width;
		margin: 0 auto;
		height: 52px;
		a#logo {
			line-height: 0;
			float: left;
			img {
				width: 45px;
			}
		}
		#name-and-slogan {
			display: inline-block;
			margin: 15px;
			#site-name a {
				font-size: 22px;
				font-weight: normal;
				color: $third-color-alter;
			}
		}
		.region-header {
			display: inline-block;
			float: right;
			nav {
				margin: 5px 0;
				ul.menu {
					margin: 0;
					li {
						display: inline-block;
						a {
							color: $third-color;
							display: block;
							background-color: $third-color-alter;
							border-radius: 3px;
							padding: 5px 30px;
						}
					}
					li:hover a {
						color: $primary-color;
						background: $accent-color;
					}
				}
			}
		}
	}
}

nav.breadcrumb {
	display: none;
}

nav.tabs {
	background-color: $third-color-alter;
}

#main-wrapper {
	max-width: $effective-width;
	margin: 0 auto;
	#sidebar-first {
		width: 25%;
		margin-left: -100%;
		float: left;
		background-color: $third-color-alter;
		display: inline;
		position: relative;
		box-shadow: 0 2px 5px rgba(255, 255, 255, 0.26);
		h2 {
			padding: 0 20px;
			font-size: 16px;
			text-align: center;
			text-transform: uppercase;
			font-weight: normal;
			color: $accent-color;
		}
		ul.menu {
			margin-left: 0;
			li {
				text-align: center;
				margin-bottom: 40px;
				text-transform: uppercase;
				a {
					color: $third-color;
					display: block;
				}
				a:hover {
					text-decoration: underline;
				}
			}
			li::before {
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-decoration: inherit;
				color: $third-color;
				font-size: 24px;
			}
			li:nth-child(1)::before {
				content: "\f1ea";
			}
			li:nth-child(2)::before {
				content: "\f022";
			}
			li:nth-child(3)::before {
				content: "\f002";
			}
			li:nth-child(4)::before {
				content: "\f1c0";
			}
			li:nth-child(5)::before {
				content: "\f1c5";
			}
			li:nth-child(6)::before {
				content: "\f007";
			}
		}
	}
	main {
		width: 75%;
		margin-right: 0;
		margin-left: 25%;
		display: inline;
		float: left;
		position: relative;
		.section {
			padding-left: 20px;
			h1.title {
				font-size: 24px;
				font-weight: normal;
				text-align: center;
				color: $third-color;
			}
			.views-ui-display-tab-bucket {
				min-height: 30px;
				.views-display-setting:nth-of-type(even) {
					background-color: $third-color-alter;
				}
			}
			.views-display-top {
				background-color: $third-color-alter;
				border-color: $third-color-alter;
			}
			div.dropbutton-widget {
				border-radius: 5px;
				button:hover {
					background-color: transparent;
					span.dropbutton-arrow {
						color: $third-color;
					}
				}
				a {
					color: $primary-color;
				}
				span.dropbutton-arrow {
					color: $accent-color;
				}
			}
		}
	}
}

.path-user {
	#main-wrapper {
		text-align: center;
		main {
			width: 35%;
			text-align: left;
			margin: 0 auto;
			float: none;
			display: inherit;
		}
	}
}


